button {
	color:black;
	height: 100px;
	width: 200px;
	border-color: black;
	border-width: 10px;
	text-align: center;
	font-size: 20px;
}

#deposit {
	background-color: green;
}

#withdraw {
	background-color: red;
}

body{
	background-color: grey;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	color: black;
	font-size: 40px;
	border-color: black;
	border-width: 10px;
}

#display {
	border-width: 10px;
	border-color: black;
	background-color:grey;
	padding:15px;
}

